<div class="row">
  <div class="col-auto">
  <h2>Welcome! </h2>
  </div>
</div>
<br>
{{#if posts.length}}
<div class="card flex-column">
  {{#each posts as |post|}}
  {{> post}}
  {{/each}}
</div>
{{/if}}